body{
    font-family:'Merriwheater', 'Georgia', serif;font-size:14px;text-decoration:none;
}
/* Navbar */

.toggle-icon {
  color: #ffffff;
}

.topnav {
  overflow: hidden;
  background-color: #f5f3ef;
}

.topnav h1 {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 10px 33% 10px 10px;
  font-size: 25px;
  font-weight: 800;
}

.topnav a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 20px;
}

.topnav a:hover {
  
  color: #000000;
  
}

.topnav a.active {
  
  color: #000000;
}

.topnav .icon {
  display: none;
}



/* End Navbar */

/* Head */
.head h1 b{
    color:#000000; 
    font-size:56px; 
    font-style:normal;
    font-weight: bolder;
}
@media (max-width: 660px) {
    .head h1 b{
    color:#000000; 
    font-size:40px; 
    font-style:normal;
    font-weight: bolder;
}

}

.line{
    border-bottom: 6px solid orange;
    margin-bottom:5px;
    
   
}
.foot img {
    height:550px;
}
@media (max-width: 660px) {
    . line{
        border-top: 6px solid orange;
        
    }

    .foot img {
        height:310px;
        width: 310px;
        display:flex;
        justify-content: center;
    }


}
